build/
cmake-build-debug/
venv/
.cache/
.idea/
compile_commands.json
report/*.aux
report/*.bit
report/*.blg
report/*.bbl
report/*.lof
report/*.log
report/*.lot
report/*.glo
report/*.glx
report/*.gxg
report/*.gxs
report/*.idx
report/*.ilg
report/*.ind
report/*.out
report/*.url
report/*.svn
report/*.toc
